<a href="https://colab.research.google.com/github/Tejvvishnu/VU21CSEN0400190/blob/main/python_exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## avg of three numbers

In [ ]:
x=1
y=2
z=3
avg=(x+y+z)/3
print(avg)
print(type(avg))

2.0
<class 'float'>

## multipication of three numbers

In [ ]:
a=5
b=5
c=10
mul=a*b*c
print(mul)
print(type(mul))

250
<class 'int'>

## dynamic addition of two numbers

In [ ]:
a=int(input("enter a number"))
b=int(input("enter a number"))
c=a+b
print(c)

enter a number20
enter a number30
50

## multipliction of three numbers

In [ ]:
a=int(input("enter a number"))
b=int(input("enter a number"))
c=int(input("enter a number"))
d=a*b*c
print(d)

enter a number20
enter a number30
enter a number10
6000

## average of three numbers

In [ ]:
a=int(input("enter a number"))
b=int(input("enter a number"))
c=int(input("enter a number"))
d=(a+b+c)/3
print(d)

enter a number20
enter a number30
enter a number30
26.666666666666668

## swap of two numbers

In [ ]:
x=5
y=10
x = x+y
y = x-y
x = x-y
print("x=",x)
print("y=",y)

x= 10
y= 5

## converting data types
int to float

In [ ]:
a=2
print(type(a))
b=float(a)
print(b)
print(type(b))

<class 'int'>
2.0
<class 'float'>

## converting data typesÂ¶
int to float

In [ ]:
a=22.00
print(type(a))
b=int(a)
print(b)
print(type(b))

<class 'float'>
22
<class 'int'>

## int to string

In [ ]:
a=22
print(type(a))
b=str(a)
print(b)
print(type(b))

<class 'int'>
22
<class 'str'>

## string to int

In [ ]:
a="22"
print(type(a))
b=int(a)
print(b)
print(type(b))

<class 'str'>
22
<class 'int'>

In [ ]:
a=20
print(bool(a))
print(type(a))

True
<class 'int'>

boolean expressions

In [ ]:
a=10
b=20
c=a>b
print(bool(c))
print(type(c))

False
<class 'bool'>

boolean expressions

In [ ]:
a=10
b=20
c=a>b
print(bool(c))
print(type(c))

False
<class 'bool'>

 boolean expressions

In [ ]:
a=bool(10)
print(bool(c))
b=20
print(bool(b))
print(type(b))

True
True
<class 'int'>

In [ ]:
a=20
b=10
c=print(a>b)

True

In [ ]:
a=bool(10)
print(type(a))
b="20"
print(type(b))

<class 'bool'>
<class 'str'>

In [ ]:
a={"january","febrauary","march","april","may","June"}
print(a)
print(type(a))

{'january', 'may', 'febrauary', 'march', 'april', 'June'}
<class 'set'>

In [ ]:
a=["january","febrauary","march","april","may","June"]
print(a)
print(type(a))

['january', 'febrauary', 'march', 'april', 'may', 'June']
<class 'list'>

In [ ]:
a="january","febrauary","march","april","may","June"
print(a)
print(type(a))

('january', 'febrauary', 'march', 'april', 'may', 'June')
<class 'tuple'>

In [ ]:
a=5+2j
print(a)
print(type(a))
b="a"
print(b)
print(type(b))

(5+2j)
<class 'complex'>
a
<class 'str'>